@model IEnumerable<QuestRoomCatalog.Models.RatingModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit")
</p>
<table class="table">
    <tr>
        <th>Quest room</th>
        <th>Rating level</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestRoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "CreateEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
